
  <!-- wp:pattern {"slug":"craftify/banner"} /-->
  <!-- wp:pattern {"slug":"craftify/about-us"} /-->
  <!-- wp:pattern {"slug":"craftify/best-selling"} /-->
  <!-- wp:pattern {"slug":"craftify/category-collage"} /-->
  <!-- wp:pattern {"slug":"craftify/our-product"} /-->
  <!-- wp:pattern {"slug":"craftify/cta"} /-->
  <!-- wp:pattern {"slug":"craftify/product-toggler"} /-->
  <!-- wp:pattern {"slug":"craftify/featured-products"} /-->
  <!-- wp:pattern {"slug":"craftify/trending-products"} /-->
  <!-- wp:pattern {"slug":"craftify/deal-day"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
