<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"var:preset|spacing|50"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-base-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:20px;padding-left:20px"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:woocommerce/checkout {"align":""} -->
    <div class="wp-block-woocommerce-checkout wc-block-checkout is-loading"><!-- wp:woocommerce/checkout-fields-block -->
    <div class="wp-block-woocommerce-checkout-fields-block"><!-- wp:woocommerce/checkout-express-payment-block -->
    <div class="wp-block-woocommerce-checkout-express-payment-block"></div>
    <!-- /wp:woocommerce/checkout-express-payment-block -->
    
    <!-- wp:woocommerce/checkout-contact-information-block -->
    <div class="wp-block-woocommerce-checkout-contact-information-block"></div>
    <!-- /wp:woocommerce/checkout-contact-information-block -->
    
    <!-- wp:woocommerce/checkout-shipping-method-block -->
    <div class="wp-block-woocommerce-checkout-shipping-method-block"></div>
    <!-- /wp:woocommerce/checkout-shipping-method-block -->
    
    <!-- wp:woocommerce/checkout-pickup-options-block -->
    <div class="wp-block-woocommerce-checkout-pickup-options-block"></div>
    <!-- /wp:woocommerce/checkout-pickup-options-block -->
    
    <!-- wp:woocommerce/checkout-shipping-address-block -->
    <div class="wp-block-woocommerce-checkout-shipping-address-block"></div>
    <!-- /wp:woocommerce/checkout-shipping-address-block -->
    
    <!-- wp:woocommerce/checkout-billing-address-block -->
    <div class="wp-block-woocommerce-checkout-billing-address-block"></div>
    <!-- /wp:woocommerce/checkout-billing-address-block -->
    
    <!-- wp:woocommerce/checkout-shipping-methods-block -->
    <div class="wp-block-woocommerce-checkout-shipping-methods-block"></div>
    <!-- /wp:woocommerce/checkout-shipping-methods-block -->
    
    <!-- wp:woocommerce/checkout-payment-block -->
    <div class="wp-block-woocommerce-checkout-payment-block"></div>
    <!-- /wp:woocommerce/checkout-payment-block -->
    
    <!-- wp:woocommerce/checkout-additional-information-block -->
    <div class="wp-block-woocommerce-checkout-additional-information-block"></div>
    <!-- /wp:woocommerce/checkout-additional-information-block -->
    
    <!-- wp:woocommerce/checkout-order-note-block -->
    <div class="wp-block-woocommerce-checkout-order-note-block"></div>
    <!-- /wp:woocommerce/checkout-order-note-block -->
    
    <!-- wp:woocommerce/checkout-terms-block -->
    <div class="wp-block-woocommerce-checkout-terms-block"></div>
    <!-- /wp:woocommerce/checkout-terms-block -->
    
    <!-- wp:woocommerce/checkout-actions-block -->
    <div class="wp-block-woocommerce-checkout-actions-block"></div>
    <!-- /wp:woocommerce/checkout-actions-block --></div>
    <!-- /wp:woocommerce/checkout-fields-block -->
    
    <!-- wp:woocommerce/checkout-totals-block -->
    <div class="wp-block-woocommerce-checkout-totals-block"><!-- wp:paragraph {"style":{"typography":{"fontSize":"16px"},"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->
    <p style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:16px">Wishlist item</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wc-booster/wish-list-table {"block_id":"wc-booster-wishlist-table-block-instance-block-d1698a62-36c7-4c5b-8fc3-5ce783e678ef","layout":"list","padding":{"activeUnit":"px","isLinkActive":false,"properties":["top","right","bottom","left"],"responsiveViews":["desktop","tablet","mobile"],"units":["px","rem"],"values":{"desktop":[0,0,30,0],"tablet":[0,0,0,0],"mobile":[0,0,0,0]}},"alignment":"left"} /-->
    
    <!-- wp:woocommerce/checkout-order-summary-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-block"><!-- wp:woocommerce/checkout-order-summary-cart-items-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-cart-items-block"></div>
    <!-- /wp:woocommerce/checkout-order-summary-cart-items-block -->
    
    <!-- wp:woocommerce/checkout-order-summary-coupon-form-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-coupon-form-block"></div>
    <!-- /wp:woocommerce/checkout-order-summary-coupon-form-block -->
    
    <!-- wp:woocommerce/checkout-order-summary-totals-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-totals-block"><!-- wp:woocommerce/checkout-order-summary-subtotal-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-subtotal-block"></div>
    <!-- /wp:woocommerce/checkout-order-summary-subtotal-block -->
    
    <!-- wp:woocommerce/checkout-order-summary-fee-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-fee-block"></div>
    <!-- /wp:woocommerce/checkout-order-summary-fee-block -->
    
    <!-- wp:woocommerce/checkout-order-summary-discount-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-discount-block"></div>
    <!-- /wp:woocommerce/checkout-order-summary-discount-block -->
    
    <!-- wp:woocommerce/checkout-order-summary-shipping-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-shipping-block"></div>
    <!-- /wp:woocommerce/checkout-order-summary-shipping-block -->
    
    <!-- wp:woocommerce/checkout-order-summary-taxes-block -->
    <div class="wp-block-woocommerce-checkout-order-summary-taxes-block"></div>
    <!-- /wp:woocommerce/checkout-order-summary-taxes-block --></div>
    <!-- /wp:woocommerce/checkout-order-summary-totals-block --></div>
    <!-- /wp:woocommerce/checkout-order-summary-block --></div>
    <!-- /wp:woocommerce/checkout-totals-block --></div>
    <!-- /wp:woocommerce/checkout --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
